/* Colors */
:root {
    --colorButtonsHover: #042d57;
    --colorButtons: #05386B;
    --colorbackground-color: #ffffff;
    --colorBorder: #ced4da;
    --colorText: #ffffff;
    --colorDisabled: #e9ecef;
    --colorHover: #f7f7f7;
}



/* Textfield Inputs */
input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    background-color: var(--colorBackground);
    height: 20px;
}

input:not([type]):disabled,
input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled {
    background-color: var(--colorDisabled);
    cursor: default;
}

input[type="date"]:hover,
input[type="datetime-local"]:hover,
input[type="color"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover {
    cursor: pointer;
}

input[type="date"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="color"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="week"]:disabled:hover {
    cursor: default;
}



/* Search */
input[type="search"] {
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    background-color: var(--colorBackground);
    height: 32px;
}

input[type="search"]:disabled {
    background-color: var(--colorDisabled);
    cursor: default;
}



/* Textarea */
textarea {
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    background-color: var(--colorBackground);
}

textarea:disabled {
    background-color: var(--colorDisabled);
    cursor: default;
}



/* Select */
select {
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    background-color: var(--colorBackground);
    height: 32px;
}

select[multiple] {
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    background-color: var(--colorBackground);
    height: 64px;
}

select:disabled,
select[mulitple]:disabled {
    background-color: var(--colorDisabled);
    cursor: default;
}



/* Checkbox - Radio */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 0.25rem;
    outline: none;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--colorBorder);
    border-radius: 50%;
    outline: none;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--colorButtons);
    border: 1px solid var(--colorButtonsHover);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    background-color: var(--colorDisabled);
    cursor: default;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    background-color: var(--colorHover);
    cursor: pointer;
}

input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover {
    background-color: var(--colorButtonsHover);
    cursor: pointer;
}

input[type="checkbox"]:disabled:hover,
input[type="radio"]:disabled:hover {
    background-color: var(--colorDisabled);
    cursor: default;
}

input[type="checkbox"]:checked:disabled,
input[type="radio"]:checked:disabled {
    background-color: var(--colorButtonsHover);
    cursor: default;
}

input[type="checkbox"]:checked:disabled:hover,
input[type="radio"]:checked:disabled:hover {
    background-color: var(--colorButtonsHover);
    cursor: default;
}



/* File */
input[type="file"] {
    /* TODO */
}

input[type="image"] {
    /* TODO */
}



/* Button - Submit - Reset */
input[type="button"], 
input[type="submit"],
input[type="reset"] {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: var(--colorButtons);
}

input[type="button"]:hover, 
input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background-color: var(--colorButtonsHover);
}

input[type="button"]:disabled, 
input[type="submit"]:disabled,
input[type="reset"]:disabled {
    cursor: default;
    background-color: var(--colorButtonsHover);
}



/* Range */
input[type="range"] {
    width: 150px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    height: 5px;
    background-color: var(--colorBorder);
    outline: none;
}

input[type="range"]:hover {
    cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
    cursor: pointer;
    background-color: var(--colorButtonsHover);
} 

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: default;
    background-color: var(--colorButtonsHover);
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--colorButtons);
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--colorButtonsHover);
} 

input[type="range"]:disabled::-moz-range-thumb {
    cursor: default;
    background-color: var(--colorButtonsHover);
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: var(--colorButtons);
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 15px;
    color: var(--colorButtons);
    background-color: var(--colorBorder);
}

progress[value]::-webkit-progress-bar {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--colorBorder);
}

progress[value]::-webkit-progress-value {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--colorButtons);
}

progress[value]::-moz-progress-bar {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--colorButtons);
}