:root {
    --Color0: #042d57;
    --Color1: #05386B;
    --Color2: #379683;
    --Color3: #5CDB95;
    --Color4: #8EE4AF;
    --Color5: #EDF5E1;
}

input[type="date"],
input[type="datetime-local"],
input[type="color"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea {
    padding: 5px 10px 5px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background: #ffffff;
}

input[type="date"]:disabled,
input[type="datetime-local"]:disabled,
input[type="color"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
select:disabled,
textarea:disabled {
    background: #e9ecef;
    cursor: default;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    outline: none;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: var(--Color1);
    border: 1px solid var(--Color0);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    background: #e9ecef;
    cursor: default;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    background: rgb(247, 247, 247);
    cursor: pointer;
}

input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover {
    background: var(--Color0);
    cursor: pointer;
}

input[type="checkbox"]:disabled:hover,
input[type="radio"]:disabled:hover {
    background: #e9ecef;
    cursor: default;
}

input[type="checkbox"]:checked:disabled,
input[type="radio"]:checked:disabled {
    background: var(--Color0);
    cursor: default;
}

input[type="checkbox"]:checked:disabled:hover,
input[type="radio"]:checked:disabled:hover {
    background: var(--Color0);
    cursor: default;
}

input[type="file"] {
    /* TODO */
}

input[type="image"] {
    /* TODO */
}

input[type="button"], 
input[type="submit"],
input[type="reset"] {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: var(--Color1);
}

input[type="button"]:hover, 
input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background-color: var(--Color0);
}

input[type="button"]:disabled, 
input[type="submit"]:disabled,
input[type="reset"]:disabled {
    cursor: default;
    background-color: var(--Color0);
}

input[type="range"] {
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    height: 5px;
    background: #ced4da;
    outline: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
    cursor: pointer;
    background: var(--Color0);
} 

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: default;
    background: var(--Color0);
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--Color1);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
    background: var(--Color0);
} 

input[type="range"]:disabled::-moz-range-thumb {
    cursor: default;
    background: var(--Color0);
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--Color1);
    cursor: pointer;
    border-radius: 50%;
}