* {
  color: red;
/*   animation: rotation 2s infinite linear; */
  font-size: 3rem;
  background-color: prurple;
}

/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
