:root {
    --Color0: #042d57;
    --Color1: #05386B;
    --Color2: #379683;
    --Color3: #5CDB95;
    --Color4: #8EE4AF;
    --Color5: #EDF5E1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
}

.card {
    padding: 0px;
    margin: 50px;
    transition: 2s;
}

.card h2 {
    margin-bottom: 10px;
}



/* Buttons */
.button1 {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: var(--Color1);
}

.button1:hover {
    cursor: pointer;
    background-color: var(--Color0);
}

.button2 {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, var(--Color2), var(--Color3));
}

.button2:hover {
    cursor: pointer;
}

.button3 {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 2px solid var(--Color1);
    border-radius: 25px;
    background-color: transparent;
    transition: 0.5s;
}

.button3:hover {
    color: white;
    font-weight: normal;
    background-color: var(--Color1);
    transition: 0.5s;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #ced4da;
}

/* Input */
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea {
    text-align: left;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
}

input[type="checkbox"]:checked {
    background: var(--Color1);
    border: 1px solid var(--Color0);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    outline: none;
}

input[type="radio"]:checked {
    background: var(--Color1);
    border: 1px solid var(--Color0);
}

input[type="color"] {
    /* TODO */
}

input[type="file"] {
    /* TODO */
}

input[type="image"] {
    /* TODO */
}

input[type="button"], 
input[type="submit"],
input[type="reset"] {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: var(--Color1);
}

input[type="button"]:hover, 
input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background-color: var(--Color0);
}

input[type="range"] {
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    height: 5px;
    background: #ced4da;
    outline: none;
    transition: background-color 0.7s;
}

input[type="range"]:focus::-webkit-slider-thumb {
    background: var(--Color0);
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--Color1);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.7s;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--Color1);
    cursor: pointer;
    border-radius: 50%;
}