@import '../../styles/variables/breakpoints';
@import '../../styles/mq';

.column {
    flex-grow: 0;
    flex-basis: auto;
}

@each $key, $value in $breakpoints {
    @include mq($from:$key) {
        @for $i from 1 through 12 {
            .#{$key}-#{$i} {
                width: calc(#{$i} / 12 * 100%);
            }
        }
    }
}
