@import "https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap";
html,body{color:#fff;scroll-behavior:smooth;background-color:#000;margin:0;padding:0;font-family:Epilogue,serif}a{color:inherit;text-decoration:none}*,:before,:after{box-sizing:border-box}
